{{#each this}}
<li class="country-list_item">
    <img src="{{this.flags.svg}}" alt="{{this.name}} flag" class="country-flag" width="30px" height="20px">
    {{this.name.common}}
    </img>
</li>
{{/each}}